@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@100;400&family=Lexend:wght@100;400&family=Poppins:wght@100&family=Raleway:wght@100;300;400;600&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@100;400&family=Lexend:wght@100;400&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,400&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@100;400&family=Lexend:wght@100;400&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;1,400&family=Rufina&display=swap');

body {
    font-size: 16px; 
  }
  
  .wrapper img {
    width: 100%;
    height: auto;
  }

  /* for Dekstop */
  @media only screen 
  and (min-width: 768px){

      
      .wrapper img{
          
          width: 100%;
          height: 100vh; 
      }
      .frame{
          position: absolute;
          background-color: white;
          width: 712px;
          height: 803px;
          z-index: 1;
          top: 0;
          border-radius: 0px 122.55px 0px 80.25px;
          box-shadow: 9px 9px 14.6px 0px rgba(0, 0, 0, 0.16);
          margin-left: 602px;
          margin-top: 58px   ;
      }
      .frame-1 h1{
          font-family: 'Rufina';
          color: #000;
          font-size: 39px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 20.10px;
          margin-left: 40px;
          margin-top: 100px;
          text-align: center;
      }
      .frame-1 hr{
          width: 291px;
          height: 2px;
          margin-top: 10px;
          margin-left: 208px;
          background: #000;
          
       }
       .frame-1 h3{
          font-family: 'Raleway';
          letter-spacing: 5.52px;
          font-size: 20px;
          font-style: normal;
          font-weight: 200;
          margin-left: 230px;
       }
       .frame-2{
          margin-left: 159px;
         
       }
       .form-floating{
          width: 391px;
          height: 53px;
          flex-shrink: 0;
          margin-top: 41px;
          font-family: 'Raleway';
          letter-spacing: 4.6px;
       }
       .regis{
          margin-top: 43px;
          margin-left: 10px;
      }
      .regis h6{
          color: #000;
          font-family: 'Raleway';     
          font-style: normal;
          font-weight: 300;
          line-height: normal;
      } 
      .regis a{
          font-family: 'Raleway';
          font-weight: 300;   
      }
      .input{
          margin-top: 31px;
          margin-left: 210px;
      }
      .btn{
          width: 171px;
          letter-spacing: 4.6px;
          background-color: #fff;
          color: black;
          font-family: 'Raleway';
      }
      .alert{
          width: 391px;
          height: 53px;
          font-family: 'Raleway';
          letter-spacing: 4.6px;
          margin-left: 71px;
      
         
      } 
  }

  /* for iphone */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2){
        .frame {
            position: absolute;
            top: 0  ;

            background-color: white;
            border-radius: 0px 50px 0px 25px;
            box-shadow: 9px 9px 14.6px 9px rgba(0, 0, 0, 0.16);
            
            width: 90%;
            height: 450px;
            

            margin-left: 15px;
            margin-top: 10%;

            
        }
    
        .frame-1 h1 {
            font-size: 24px;
            letter-spacing: 10px;
            margin: 20px;
            text-align: center;
            font-family: 'Rufina';
        }
    
        .frame-1 hr {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    
        .frame-1 h3 {
            font-size: 16px;
            margin-left: 23%;
    
            letter-spacing: 5px;
            font-family: 'Rufina';
        }
    
        .frame-2 {
            margin-left: 0;
        }
    
        .form-floating {
            width: 100%;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .regis {
            margin-top: 20px;
            margin-left: 15%;
        }
    
        .input {
            margin-top: 20px;
            margin-left: 70%;
            
        }
    
        .btn {
            width: 70%;
            max-width: 500px;
    
            letter-spacing: 3px;
            font-family: 'Rufina';

            background-color: white;
            color: black;
        }
    
        .alert {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
