
@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@100;400&family=Lexend:wght@100;400&family=Poppins:wght@100&family=Raleway:wght@100;300;400;600&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@100;400&family=Lexend:wght@100;400&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,400&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@100;400&family=Lexend:wght@100;400&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;1,400&family=Rufina&display=swap');

 body {
  font-size: 16px;
  height: auto;
  
}

.wrapper img {
  width: 100%;
  height: auto;
}
/* tampilan padan iphone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2){

    .frame {
      position: absolute;
      top: 0;

      margin-top: 50px;
      margin-left: 25px;

      width: 90%;
      height: 750px;
      max-width: 375px;

      background-color: white;
      border-radius: 0px 50px 0px 25px;
      box-shadow: 9px 9px 14.6px 9px rgba(0, 0, 0, 0.16);
    

    }
  
    .frame-1 h1 {
      font-size: 20px;
      letter-spacing: 2px;
      margin-left: 35%;
      margin-top: 10%;

      font-family: 'Rufina';
    }
  
    .frame-1 hr {
      width: 50%;
      
      margin-left: 25%;
      margin-top: 0px;

    }
  
    .frame-1 h3 {
      font-size: 10px;
      letter-spacing: 4px;

      margin-left: 33%;
      margin-top: 0px;
      
      font-family: 'Rufina';
    }
  
    .frame-2 {
      margin-top: 5%;
    }
  
    .form-floating {
      margin-top: 20%;
      margin-left: 5%;
      width: 90%;
      max-width: 375px;
      height: 10px;
      letter-spacing: 2px;
      color: rgba(0, 0, 0, 0.60);
      font-family: 'Raleway';
     
    }
    
  
    .input {
      position: absolute;
      margin-top: 33%;
      margin-left: 60%;
      width: 40%;
      font-family:'Rufina';
    }
  
    .btn {
      width: 80%;
      font-family: 'Raleway';
      padding: 10px;
      color: #000;
      background-color: #fff;
      flex-shrink: 0;
      border-color: #D9D9D9;  
      letter-spacing: 2px;
      color: rgba(0, 0, 0, 0.60);
    }
  
    .login {
      position: absolute;
      margin-top: 45%;
      margin-left: 7%;
      margin-right: auto;
    }
  }
  
  /* Media Query untuk Desktop */
  @media only screen and (min-width: 768px) {
    
  .wrapper img{
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.frame{
   position: absolute;
   z-index: 1;
   top: 0;
   background-color:#fff;
   width: 1044px;
   height: 803px;
   margin-top: 92px;
   margin-left: 498px;
   flex-shrink: 0;
   border-radius: 0px 122.55px 0px 80.25px;
   box-shadow: 9px 9px 14.6px 0px rgba(0, 0, 0, 0.16);
}
.frame-1 h1{
  margin-left: 67px;
  margin-top: 63px;
  color: #000;
  font-family: Rufina;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 21.12px; 
}
.frame-1 hr{
  width: 490px;
  height: 2px;
  margin-top: 10px;
  background: #000;
  margin-left: 67px;
}
.frame-1 h3{
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.52px;
  margin-left: 67px;
}
.frame-2{
  margin-top: 80px;
  display: flex;
}
.form-floating{
  margin-top:36px;
  margin-left: 81px;
  width: 391px;
  height: 53px;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.60);
  font-family: 'Raleway';
}
.frame-22{
  display: flex;
  flex: 1;
}
.input{
  margin-top: 20px;
  margin-left: 813px;
}
.btn{
  width: 120px;
  font-family: 'Raleway';
  padding: 10px;
  color: #000;
  background-color: #fff;
  flex-shrink: 0;
  border-color: #D9D9D9;
  letter-spacing: 4.6px;
  color: rgba(0, 0, 0, 0.60);
}
.login{
    font-family: 'Raleway';
    font-weight: 300;
    position: absolute;
    margin-top: 20px;
    margin-left: 561px;
    
    
}
  }
  


